Repository CS3219-AY2526Sem1/cs3219-ay2526s1-project-g37, pull requests merged in 2025-10, with the labels that each got.

#16 UI login signup
  frontend/peerprep/app/assets/images/logo.svg
  frontend/peerprep/app/pages/login.tsx
  frontend/peerprep/app/pages/signup.tsx
Labels: service.UI, type.Enhancement, priority.Critical

#39 Feature/matching service init
  services/matching-service/.dockerignore
  services/matching-service/.gitignore
  services/matching-service/Dockerfile
  services/matching-service/Makefile
  services/matching-service/README.md
  services/matching-service/app/__init__.py
  services/matching-service/app/core/__init__.py
  services/matching-service/app/core/matching.py
  services/matching-service/app/core/queue.py
  services/matching-service/app/core/websocket_manager.py
  services/matching-service/app/main.py
  services/matching-service/app/models/__init__.py
  services/matching-service/app/models/match.py
  services/matching-service/app/postman/PeerPrep.postman_collection.json
  services/matching-service/app/routers/__init__.py
  services/matching-service/app/routers/hello.py
  services/matching-service/app/routers/match.py
  services/matching-service/requirements.txt
Labels: service.Matching, type.Enhancement, priority.Critical

#34 Basic Implementation of Collaborative Service
  .gitignore
  services/collaboration-service/README.md
  services/collaboration-service/app/__init__.py
  services/collaboration-service/app/core/connection_manager.py
  services/collaboration-service/app/core/errors.py
  services/collaboration-service/app/core/users.py
  services/collaboration-service/app/main.py
  services/collaboration-service/app/rest/__init__.py
  services/collaboration-service/app/rest/sessions.py
  services/collaboration-service/app/schemas/__init__.py
  services/collaboration-service/app/schemas/collaboration.py
  services/collaboration-service/app/schemas/messages.py
  services/collaboration-service/app/ws/__init__.py
  services/collaboration-service/app/ws/sessions.py
Labels: service.Collaboration, type.Enhancement, priority.Critical

#21 Implement user page and history
  frontend/peerprep/app/components/header/header.module.css
  frontend/peerprep/app/components/header/header.tsx
  frontend/peerprep/app/components/statscard.tsx
  frontend/peerprep/app/components/table/table.module.css
  frontend/peerprep/app/components/table/table.tsx
  frontend/peerprep/app/pages/userpage.tsx
  frontend/peerprep/app/root.tsx
  frontend/peerprep/app/routes.ts
  services/collaboration-service/app/routers/__init__.py
  services/question-service/.gitkeep
Labels: type.Enhancement, priority.Critical

#64 fix(collab): replace missing requirements.txt
  services/collaboration-service/requirements.txt
Labels: service.Collaboration, type.Bug, priority.Critical

#69 Add docker compose to improve convenience of setting up testing database
  services/question-service/.env.example
  services/question-service/Dockerfile
  services/question-service/docker-compose.testing.yml
  services/question-service/init-scripts/01.schema.sql
  services/question-service/init-scripts/02.populate.sql
Labels: service.Questions, priority.High

#68 "Alpha" version of collaboration service
  README.md
  docker-compose.collab.yml
  frontend/peerprep/.env.example
  frontend/peerprep/Dockerfile
  frontend/peerprep/app/components/sessioncontrolbar/SessionControlBar.tsx
  frontend/peerprep/app/pages/collabpage.tsx
  frontend/peerprep/app/root.tsx
  frontend/peerprep/app/services/CollabService.tsx
  frontend/peerprep/context/CollabProvider.tsx
  frontend/peerprep/package-lock.json
  frontend/peerprep/package.json
  frontend/peerprep/react-router.config.ts
  services/collaboration-service/README.md
  services/collaboration-service/app/core/connection_manager.py
  services/collaboration-service/app/main.py
  services/collaboration-service/app/schemas/messages.py
  services/collaboration-service/app/ws/sessions.py
  services/y-websocket/.gitignore
  services/y-websocket/README.md
  services/y-websocket/package-lock.json
  services/y-websocket/package.json
Labels: service.Collaboration, type.Enhancement, priority.Critical

#72 feat(collab): require POST /sessions to input question for use during sessions
  services/collaboration-service/app/core/connection_manager.py
  services/collaboration-service/app/rest/sessions.py
  services/collaboration-service/app/schemas/collaboration.py
  services/collaboration-service/app/schemas/questions.py
Labels: service.Collaboration, priority.High
